body {
    max-width: 750px;
    margin: 4px auto 0px auto;
}

.bf-ipt {
    width: 100%;
    display: block;
}
#pgr {
    resize: vertical;
}
.bf-tape {
    background-color: #ccc;
    padding: 1px;
    margin: 1px;
    min-height: 20px;
}
.bf-pgr {
    height: 200px;
}
.bf-tape-item {
    border: solid 1px #5fcf80;
    display: inline-block;
    margin: 4px;
    padding: 4px;
    min-width: 30px;
    text-align: center;
    height: 25px;
    line-height: 25px;
    background-color: #CFF0D8;
    transition: background-color 150ms, color 50ms;
    position: relative;
}
.bf-tape-item-hi {
    background-color: #fff;
    border: solid 1px #000;
    color: #D88569;
}
.bf-tape-item-cha {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 2px;
    color: #000;
    opacity: 0.7;
    font-size: 75%;
    line-height: 1;
}
a {
      text-decoration: inherit;
      color: #127EE1;
}
a:hover {
    color: #0c589d;
}

h1 {
    font-size: 210%;
    font-weight: lighter;
}
h2 {
    font-size: 115%;
    padding: 0;
    margin: 6px 0 6px 4px;
    font-weight: lighter;
}
h2:after {
    content: ":";
    opacity: 0.6;
    font-size: 80%;
}
.man {
    float: right;
    padding: 0;
    margin: 0 10px 0 0;
}
.pg-dv {
    border-bottom: solid #ddd 1px;
}
.pg-dv h2 {
    display: inline;
}

.dh-alert {
    z-index: 999;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.6), 0 0 260px #000;
    font-size: 110%;
    position: fixed;
    left: 40px;
    right: 40px;
    top: 40%;
    height: auto;
    padding: 16px;
    background-color: #fff;
    text-align: center;
}
.dh-alert-close {
    font-size: 80%;
    color: #bbb;
    font-weight: bold;
    cursor: pointer;
    margin: 2px;
}
.dh-alert-close:hover {
    color: #888;
}
.dh-alert-bg {
    background-color: rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
}
pre {
    border-left: solid #999 2px;
    margin: 8px;
    padding: 4px;
    background-color: #eee;
    font-size: 16px;
}
textarea {
    min-height: 60px;
    outline: 0;
    border: 0;
    font-size: 14px;
    color: #333;
    border-left: solid #999 2px;
    border-top: solid #e0e0e0 1px;
    border-bottom: solid #e0e0e0 1px;
    resize: none;
}
textarea:focus {
    background-color: #eee;
}
*::selection {
    background: rgba(18, 126, 225, 0.18);
}
#pgr::selection {
    color: #fff;
    background: rgba(0, 0, 0, 0.80);
}
